<style>
    h2 {
        text-align: center;
    }
    h3 {
        padding-bottom: 10px;
    }
    #order_review_heading {
        text-align: center;
        font-size: 30px;
    }
</style>

<div class="subpage wrapper-inner">
    <div class="page-content reveal-inplace">
        <div class="page-inner-content">
            <h2>Checkout</h2>

            {{woocommerce_checkout}}
        </div>

    </div>
</div>

</style>